@import '../../sass/_variables';
@import '../../sass/_mixins';

//Styles for Home Header Component
.header {
    padding: 16rem 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $primaryColor;

    @include respond(tablet-port) {
        padding: 12rem 2rem;
    }

    @include respond(phone) {
        padding: 24rem 2rem;
    }

    &__container {
        margin: 0 30rem;

        @include respond(tablet-port) {
            margin: 0;
        }
    }

    &__title {
        font-size: 5.6rem;
        font-weight: 700;
        line-height: 6.6rem;
        letter-spacing: 0px;
        color: $white;
        text-align: center;

        @include respond(phone) {
            font-size: 7rem;
            line-height: 8rem;
        }
    }

    &__paragraph {
        padding: 0 4rem;
        margin-top: 3.2rem;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;

        @include respond(phone) {
            padding: 0;
        }
    }

    .buttons-container {
        margin-top: 4rem;
        display: flex;
        justify-content: space-around;


        @include respond(phone) {
            align-items: center;
            flex-direction: column;

            .button-wrapper:not(:last-child) {
                margin-bottom: 6.4rem;
            }
        }
    }
}


//Global Styles for Home Sections
.home-section {
    padding: 12rem 4rem;
    position: relative;

    @include respond(tablet-port) {
        padding: 120px 0 70px 0;
        margin-bottom: 50px;
    }

    &__title {
        color: $secondaryColor;
        font-family: 'DM Serif Display';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
    }

    &__wrapper {
        margin-top: 4.8rem;
        display: flex;

        @include respond(tablet-port) {
            flex-direction: column-reverse;
        }
    }

    &__img-container {
        margin-right: 11rem;
        flex-shrink: 0;

        @include respond(tablet-port) {
            margin-right: 0;
            margin-top: 5.6rem;

            display: flex;
            justify-content: center;
        }
    }

    &__img {
        max-width: 45rem;

        @include respond(tablet-port) {
            max-width: 100%;
            max-height: auto;
        }
    }

    &__icon-box {
        color: #BCBACD;
        font-size: 7rem;
    }

    &__text-container {
        color: $primaryColor;
        position: relative;

        @include respond(tablet-port) {
            position: static;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }

            &:first-child {
                @include respond(tablet-port) {
                    margin-bottom: 7.6rem;
                }
            }
        }

        h3 {
            color: $tertiaryColor;
            font-family: 'DM Serif Display';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;

            @include respond(tablet-port) {
                text-align: center;
            }

            &:not(:last-child) {
                margin-bottom: 2.5rem;
            }
        }
    }

    &__button-container {
        position: absolute;
        bottom: 0;

        @include respond(tablet-port) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}


//Corporate Section Styles
.invert-img {
    margin-right: 0;
}

.invert-text {
    margin-right: 11rem;

    @include respond(tablet-port) {
        margin-right: 0;
    }
}

.invert-wrapper {
    @include respond(tablet-port) {
        flex-direction: column;
    }
}
