//global variables
$globalPadding: 0 12rem;
$globalPaddingPhone: 0 3.8rem;


//colours
$primary-color: #14123F;
$secondary-color: #184669;
$tertiary-color: #F05A28;

$white: #ffff;
$iceWhite: #F2F1FA;

$lightGray: #D9D9D9;

$green: #00A551;

$black: #000;


//Typography