//global variables
$globalPadding: 0 12rem;
$globalPaddingTabletPort: 0 5rem;
$globalPaddingPhone: 0 3.8rem;


//colours
$primaryColor: #14123F;
$secondaryColor: #184669;
$tertiaryColor: #F05A28;

$white: #ffff;
$iceWhite: #F2F1FA;

$lightGray: #D9D9D9;

$green: #00A551;

$black: #000;


//Typography