//global variables
$globalPadding: 0 12rem;


//colours
$primary-color: #14123F;
$secondary-color: #184669;
$tertiary-color: #F05A28;

$white: #ffff;
$iceWhite: #F2F1FA;

$green: #00A551;


//Typography