@import '../../sass/_variables';

.button {
    background-color: $secondary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
    gap: 0.8rem;
    color: $white;
    border-radius: 0.4rem;
    border: 0.8px;

    font-family: DM Sans;
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: center;
}

.blue {
    background-color: $secondary-color;
}

.orange {
    background-color: $tertiary-color;
}

.green {
    background-color: $green;
}