@import '../../sass/_variables';
@import '../../sass/_mixins';

//Styles for Home Contact Component
.contact-header {
    padding: 17rem 0rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $primary-color;

    @include respond(phone) {
        padding: 24rem 2rem;
    }

    &__container {
        // margin: 0 30rem;

        @include respond(phone) {
            margin: 0;
        }
    }

    &__title {
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.8rem;
        color: $iceWhite;
        text-align: center;

        @include respond(phone) {
            font-size: 7rem;
            line-height: 8rem;
        }
    }

    &__paragraph {
        margin-top: 2.4rem;
        padding: 0 37rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.2rem;

        text-align: center;
        color: $iceWhite;

        @include respond(phone) {
            padding: 0;
        }
    }
}


.form {
    padding: 8rem 15rem 12rem 15rem;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
        padding: 11.4rem 0 19rem 0;
    }

    &__input-set {
        width: 100%;
        display: flex;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__input {
        width: 100%;
        margin-top: 4rem;

        @include respond(phone) {
            margin-top: 7.6rem;
        }

        &-label {
            position: absolute;
            font-weight: 500;
            font-size: 2rem;
            line-height: 1.8rem;

            span {
                color: #EC1C24;
            }
        }

        &-field {
            margin-top: 3.7rem;
            padding-left: 2rem;
            background-color: $iceWhite;
            min-height: 5.6rem;
            // min-width: 39rem;
            width: 85%;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            font-size: 2rem;

            @include respond(phone) {
                width: 100%;
                min-height: 6.2rem;
            }

            &:focus {
                outline: none;
            }
        }

        .subject {
            width: 75%;

            @include respond(phone) {
                width: 100%;
            }
        }

        .textarea {
            width: 100%;
            height: 28rem;
            padding-top: 2rem;
            resize: none;

            @include respond(phone) {
                width: 100%;
            }
        }
    }

    &__submit-button-container {
        margin-top: 6.4rem;
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__submit-button {
        cursor: pointer;
        padding: .8rem;
        background-color: $white;
        border: 1px solid #000000;
        border-radius: 4px;

        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
    }
}

.margin-left-medium {
    margin-left: 8rem;

    @include respond(phone) {
        margin-left: 0;
        margin-top: 7.6rem;
    }
}


$message-box-padding-horizontal: 5rem;
$message-box-padding-vertical: 10rem;

.message-box {
    position: fixed;
    top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    padding: $message-box-padding-horizontal $message-box-padding-vertical;
    background-color: $white;
    border: solid 3px $secondary-color;
    box-shadow: rgba(18, 30, 39, 0.6) 10px 10px;

    @include respond(phone) {
        padding: 3rem 4rem;
    }
    
    &__wrap {
        display: flex;

        @include respond(phone) {
            justify-content: center;
            align-items: center;
        }
    }

    &__exit {
        cursor: pointer;
        position: absolute;
        font-size: 2.4rem;
        top: .5rem;
        right: .5rem;
    }

    &__icon-box {
        font-size: 4rem;
        margin-right: 3rem;
        color: green;
        display: flex;
    }

    &__icon-box-error {
        font-size: 4rem;
        margin-right: 3rem;
        color: red;
        display: flex;
    }

    &__text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p {
            font-size: 1.2rem;
        }
    }

    &__title {
        font-size: 2rem;
        color: green;
    }

    &__title-error {
        font-size: 2rem;
        color: red;
    }
}