@import '../../sass/_variables';
@import '../../sass/_mixins';

//Styles for About Header Component
.about-header {
    padding-top: 14rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;

    @include respond(phone) {
        padding: 24rem 2rem;
    }

    &__text-container {
        padding: 0 0 0 4rem;

        @include respond(phone) {
            margin: 0;
        }
    }

    &__title {
        padding-top: 3rem;
        font-family: 'DM Serif Display';
        font-weight: 400;
        font-size: 4rem;
        line-height: 4.8rem;
        color: $iceWhite;
        // text-align: center;

        @include respond(phone) {
            font-size: 7rem;
            line-height: 8rem;
        }
    }

    &__paragraph-wrapper {
        max-width: 45rem;
    }

    &__paragraph {
        margin-top: 2.4rem;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: $iceWhite;

        @include respond(phone) {
            padding: 0;
        }
    }

    &__img {
        // max-width: 45rem;

        @include respond(phone) {
            max-width: 100%;
            max-height: auto;
        }
    }
}


.about-description {
    margin-top: 12rem;
    margin-bottom: 24rem;
    display: flex;
    justify-content: space-around;

    &__title{
        color: $primary-color;
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    &__paragraph-wrapper {
        margin-top: 4.8rem;
        max-width: 51rem;
    }

    &__paragraph {
        color: $primary-color;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 3rem;
    }
    
    &__img {
        max-width: 48.8rem;
    }
}

.about-video {
    overflow: hidden;
    margin-bottom: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.about-reports {

    &__header {
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
        color: $primary-color;
    }

    &__subtitle {
        margin-top: 2.4rem;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.8rem;
        color: $primary-color;
    }

    &__wrapper {
        padding: 0 8rem;
        margin-top: 4rem;
        display: flex;

        &:last-child {
            margin-bottom: 12rem;
        }
    }

    &__img {
        max-height: 30rem;
    }

    &__img-label {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 3.2rem;
        text-align: center;
        margin-top: 1rem;
    }

    &__report-text {
        margin-left: 8rem;
        color: $black;
        font-style: italic;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 3.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.inverted-report {
    margin-left: 0;
    margin-right: 8rem;
}