@import './sass/_variables';
@import './sass/_mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    //this defines what 1 rem is
    font-size: 62.5%;

    @include respond(tablet) {
      font-size: 55%;
    }

    @include respond(tablet-port) {
      font-size: 50%;
    }
  
    @include respond(phone) {
      font-size: 40%;
    }
  
    @include respond(big) {
      font-size: 75%;
    }
  }

body {
    background-color: $white;
    padding: $globalPadding;
    font-family: 'DM Sans', 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include respond(tablet) {
      padding: $globalPaddingTablet;
    }

    @include respond(tablet-port) {
      padding: $globalPaddingTabletPort;
    }

    @include respond(phone) {
      padding: $globalPaddingPhone;
    }
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
